<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
  <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-3">
        <a class="navbar-brand" href="#"><img id="MDB-logo" src="../../assets/img/logo.jpg" alt="Burger  house Logo"
            draggable="false" height="100" /></a>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav align-items-center mx-auto">

           
              <mat-form-field >
                <mat-label>number of guests</mat-label>
                <input matNativeControl required matInput placeholder="Ex. 10">
              </mat-form-field>
              <mat-icon class="ms-2 me-5">people</mat-icon>
           
              
              <mat-form-field class="me-5">
                <mat-label>choose a date</mat-label>
                <input matInput matNativeControl required [matDatepicker]="dp3" [min]="minDate"  disabled>
               
                <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              </mat-form-field>
             
              <mat-form-field class="me-5">
                <mat-label>what time</mat-label>
                <select matNativeControl required>
                  <option value="13:30">13:30</option>
                  <option value="14:30">14:30</option>
                  <option value="15:30">15:30</option>
                  <option value="16:30">16:30</option>
                </select>
              </mat-form-field>

              <button mat-raised-button color="primary">Check available tables</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar -->
