<nav class="navbar mb-2  navbar-expand-lg fixed-top 
navbar-scroll shadow-0" style="background-color: #ffede7;">
  <div class="container">
    <a routerLink="/" class="navbar-brand " href="#"><img  id="MDB-logo" src="../../assets/img/logo.jpg"
        alt="Burger  house Logo" draggable="false" height="100" /></a>
    <div class="d-flex justify-content-center collapse navbar-collapse " id="navbarExample01">
      <div class="d-flex flex-row  mb-2 mb-lg-0 ">
        <a routerLink="/" class="nav-link px-3" href="#!">Home</a>
        <a class="nav-link px-3" href="#!">about us</a>
        <a class="nav-link px-3" href="#!">collaboration</a>
        <a routerLink="/table" class="nav-link px-3" >book a table</a>
        <a class="nav-link px-3" href="#!">contact us</a>
      </div>
    </div>
  </div>
</nav>

<div class="container bodyimg">
<carousel  [isAnimated]="true">
    <slide>
        <img src="../../assets/img/interior1.jpg" alt="slide" >
    </slide>
    <slide>
        <img src="../../assets/img/interior2.jpg" alt="slide" >
    </slide>
    <slide>
        <img src="../../assets/img/interior3.jpg" alt="slide" >
    </slide>
</carousel>
<section class="featured">
<div class="d-flex justify-content-center pt-4">
    <h1>welcome to our restaurant</h1>
</div>
</section>
</div>

