<nav class="navbar navbar-expand-lg  navbar-scroll shadow-0" style="background-color: #ffede7;">
  <!-- *ngIf="!isSubmitted" -->
  <div class="container d-flex justify-content-center">
    <div class="row">

      <div class="col-12 d-flex justify-content-center">
        <div class="collapse navbar-collapse">
          <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="navbar-nav align-items-center mx-auto">
            <!--  -->
            <mat-form-field>
              <mat-label>number of guests</mat-label>
              <input matInput type="number" formControlName="numberOfGuests" matNativeControl>
              <mat-error *ngIf="filterForm.get('numberOfGuests')?.touched && filterForm.get('numberOfGuests')?.invalid">
                Number of guests is required and must be between 1 and 20.
            </mat-error>
            </mat-form-field>
            <mat-icon class="ms-2 me-5">people</mat-icon>

            <mat-form-field class="me-5">
              <mat-label>choose a date</mat-label>
              <input formControlName="date" matInput [matDatepicker]="datePicker" [min]="date">
              <mat-error *ngIf="filterForm.get('date')?.touched && filterForm.get('date')?.invalid">
               the date is required
            </mat-error>
              <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Choose a time</mat-label>
              <input matInput type="time" formControlName="time">
              <mat-error *ngIf="filterForm.get('time')?.touched && filterForm.get('time')?.invalid">
                the time is required
             </mat-error>
            </mat-form-field>




            <button type="submit" class="ms-3" mat-raised-button color="primary">Check available tables</button>
          </form>
        </div>

      </div>
    </div>

  </div>
</nav>

<div *ngIf="isSubmitted && filterForm.value.numberOfGuests && filterForm.value.date && filterForm.value.time"
  class="my-5">
  <div class=" text-center bg-body-tertiary rounded-3">
    <div class="container p-2">


      <h2 class=" mt-4 mb-4">Available Tables for {{ filterForm.value.numberOfGuests}} guests</h2>

      <span> in the date</span>
      <p class="col-lg-8 mx-auto lead">
        <strong>{{formattedReservationDateTime | date }}</strong>
      </p>
      <span> at:</span>
      <p class="col-lg-8 mx-auto lead"><strong> {{formattedReservationDateTime | date : 'shortTime'}}</strong></p>
    </div>
  </div>

</div>
<div class="row row-cols-3 g-3 pb-5 my-5">

  <div class="col" *ngFor="let table of tables">

    <app-table-item [isSubmitted]="isSubmitted" [table]="table"></app-table-item>
  </div>
</div>



<!-- Navbar -->
