.invalid {
    background-color: red;
}
.bg-custom   {
    background-color: #673ab7;
}
.btn-custom{
    background-color: #673ab7;
    color: white;
}
.border-custom{
    width: 1px;
    border-style: solid;
    color: #673ab7;
}