<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
 
    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-12 d-flex justify-content-center mb-3">
          <a class="navbar-brand" href="#"><img id="MDB-logo" src="../../assets/img/logo.jpg" alt="Burger  house Logo"
              draggable="false" height="100" /></a>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav align-items-center mx-auto">
  
             
                <mat-form-field >
                  <mat-label>number of guests</mat-label>
                  <input matNativeControl required matInput placeholder="Ex. 10">
                </mat-form-field>
  
  
                <mat-icon class="ms-2 me-5">people</mat-icon>
                 <mat-form-field class="me-5">
                  <mat-label>choose a date</mat-label>
                  <input matInput matNativeControl required [matDatepicker]="datePicker" [min]="date"  disabled>
                   <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
                  <mat-datepicker #datePicker disabled="false"></mat-datepicker>
                </mat-form-field>
               
                <mat-form-field class="me-5">
                  <mat-label>what time</mat-label>
                  <select matNativeControl required>
                    <option value="13:30">13:30</option>
                    <option value="14:30">14:30</option>
                    <option value="15:30">15:30</option>
                    <option value="16:30">16:30</option>
                  </select>
                </mat-form-field>
  
                <button mat-raised-button (click)="getAvailableTables()" color="primary">Check available tables</button>
              
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </nav>
  <div class="container mt-5">
    <h2 class="text-center mb-4">Available Tables</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let table of tables" class="card">
        <img src="../../assets/img/art-gallery.jpg" alt="Table image" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">Table {{ table.tableName }}</h5>
          <p class="card-text">Capacity: {{ table.capacity }} guests</p>
          </div>
      </div>
    </div>
  </div>
  <!-- Navbar -->
  