<div class="card mb-4 rounded-3 shadow-sm ">
    <div class="card-header py-3 text-white bg-custom">
      <h4 class="my-0 fw-normal">reservation summary</h4>
    </div>
    <div class="card-body">
     
      <ul class="list-unstyled mt-3 mb-4" >
            <li><i>guests:&nbsp; </i> <em>  <span style="font-weight: 500;" *ngIf="isSubmitted"> {{checkTableParams.numberOfGuests}}</span> </em></li>
            <br>
            <li><i>in the date:&nbsp; </i><em> <span style="font-weight: 500;" *ngIf="isSubmitted">{{checkTableParams.date | date }}</span></em></li>
            <br>
            <li><i>at: &nbsp;</i> <em><span style="font-weight: 500;" *ngIf="isSubmitted">{{checkTableParams.time}}</span> </em></li>
      </ul>
      
    </div>
  </div>

  <!-- flex flex-column gap-3 -->